.grid {
    display: flex;
    flex-wrap: wrap;
    height: calc(476px + 64px); 
    width: calc(476px + 64px);
    gap: 10px;
    background-color: white;
}

/* .custom {
    top: 1rem;
    right: 40rem;
} */

body {
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
    overflow-y: hidden;
}

#index {
    background-position: unset;
}

#modal-title-id {
    margin-left: 32%;
}

.modalMod {
    height: 250px;
}

.none {
    pointer-events: none;
}

.custom {
    left: 50%;
    transform: translateX(-50%);
}

.custom2 {
    top: 20%;
    transform: translateY(-20%);
}

#canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px 0 #999;
}

.bi-dot {
    animation: fall linear forwards;
    color: rgba(189, 195, 199, 1);
    position: absolute;
    top: -10px;
}

@keyframes fall {
    to {
        transform: translateY(105vh);
    }
}